<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>vue</title>
	</head>
	<body>
		<!-- 我是Vue所管理的视图div#app -->
		<div id="app">
			<!-- v-for作用:列表渲染,当遇到相似的标签结构时,就用v-for去渲染
				v-for="元素 in 容器(数组和对象)"
				v-for="数组中的元素 in data中的数组名"
				v-for="对象中的属性值 in data中的对象名"
			-->
			<ul>
				<li v-for="item in per">{{item}}</li>
			</ul>
			<!-- (v,i) in 数组
				v:数组中的每个元素
				i:数组中元素的下标
			-->
			 <!-- (v,k,i)in 对象
				v:值
				k:键
				i:对象中每对key-value的索引 从0开始
				注意: v,k,i是参数名,见名知意即可!
			-->
			<ul>
				<li v-for="(item,key) in per">{{item}}-----{{key}}</li>
			</ul>
			<ul>
				<li v-for="(item,key,i) in per">{{item}}-----{{key}}----{{i}}</li>
			</ul>
			 <!-- v-for 
            key属性: 值通常是一个唯一的标识
            key是一个可选属性
            养成好习惯:建议在写v-for时 设置:key="唯一值"
			渲染时候效率更高
        -->
			<p v-for="(v,i) in list" :key="i"><span>{{v}}----{{i}}</span></p>
			
		</div>
	</body>
	<script src="./vue.js"></script>
	
	<script>
		new Vue({
			el:"#app",
			data:{
				list: ['a', 'b', 'c'],
                    per: {
                        name: '老王',
                        age: 38,
                        gender: '男'
                    }
			}
		})
		
	</script>
</html>
